
body{
  margin: 0%;
  background-color: rgb(220, 158, 158);
}
main{
max-height: 50px!important;
}
aside nav a{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    text-decoration: none;
    color:aliceblue;
  text-align: center;
 
}

nav .link:hover{
  background-color: aliceblue;
  color:rgb(226, 169, 169) ;

}
button {
  background-color: aliceblue;
  color:rgb(226, 169, 169) ;
  display: none;

}


.chaild{

  display: grid;
  grid-template-rows:   5vh 200vh 7vh;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 'header header'
                       'main aside' 
                        'footer footer';
}
button {
  background-color: aliceblue;
  color:rgb(226, 169, 169) ;
  position: relative;
  display: none;
}


aside  {
  display: flex;
  flex-direction: column;

}
.fixxx{
background-color: #422b21;

position: fixed;
top: 50vh;
}

.homesite nav{
  background-color: #392525!important;
  margin: 0%;
  position: fixed;
  margin-top: 17.5vw;
  width: 100vw;
  z-index: 4;
}
.homesite header{
  margin: 0%;
  position: fixed;
  z-index: 3;

}
.homesite{ 
  display: grid;
  grid-template-rows:   1fr 0.2fr 0.7fr 1fr;
  grid-template-columns:1fr;
  grid-template-areas: 'header header'
                       'nav nav'
                       'main main' 
                        'footer footer';
   background-color: rgb(213, 129, 129);

}

header{    
grid-area: header;
}
 nav{
grid-area:nav;
}



.fix:hover {
  width: 7vh;
  height: 7vh;
}
.fix{
  transition: width 2s, height 4s;
  position: fixed;
  bottom: 5vh;
  right: 2vw;
  z-index: 2;
  width: 4vh;
  height: 4vh;
    }
.homesite main{
    grid-area: main;
    display: grid;
   grid-template-columns:1fr 1fr 1fr 1fr ;
      grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
    'im1 im1 im2 im3'
    'im4 im5 im6 im3'
    'im7 im8 im9 im9';
}

 div img{
width: 100%;
height: 100%;
padding: 0.2vw;
}
.im1{
  grid-area: im1;
height: 35vw;
}
.im2{
  grid-area: im2;
  height: 35vw;
}
.im3{
  grid-area: im3;
  height:70vw;
}
.im4{
  grid-area: im4;
  height: 35vw;
}
.im5{
  grid-area: im5;
  height: 35vw;
}
.im6{
  grid-area: im6;
  height: 35vw;
}
.im7{
  grid-area: im7;
  height: 35vw;
}
.im8{
  grid-area: im8;
  height: 35vw;
}
.im9{
  grid-area: im9;
  height: 35vw;
}
aside nav{
  display: flex;
flex-direction: column;
}
aside{
    grid-area: aside;
    display: flex;
    justify-content: space-between;
flex-direction: column;
}
footer{
  grid-area: footer;
}
.chaild{

  display: grid;
  grid-template-rows:   43vh 250vh 7vh;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 'header header'
                       'main aside' 
                        'footer footer';
}

.homesite .link {
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    white-space: normal;
    text-shadow: 4px 4px 5px rgb(162, 160, 162);    
    background-color: #392525!important;
    color: aliceblue;    
}
.homesite nav div{
      display:flex;
      justify-content: space-between;
      margin-left: 3%;
      margin-right: 3%;
}
.ok{
  padding-right: 10%;
  padding-left: 10%;
}
.okDiv{
  border-top: #382a1a  solid 6px;
  border-right: #382a1a  solid 6px;
  border-left: #382a1a  solid 6px;
  margin-top: 6%;
}
#text{
  margin-top: 10%;
  margin-bottom: 5%;
  line-height: 45px;
  color: #5b5959;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:#382a1a ;
  margin-left: 2%;
  box-shadow: 0.1px 0.1px 0.5px#382a1a;
}
.c1{
  animation: circle1 1.5s ;
  animation-iteration-count: 4;
}
.c2{
  animation: circle2 1.5s;
  animation-iteration-count: 4;
}
h4{
  text-align: center;
}
.c3{
  animation: circle3 1.5s;
  animation-iteration-count: 4;
}
.c4{
  animation: circle4 1.5s;
  animation-iteration-count: 4;
}
#circle3{
  display: flex;
  justify-content: center;
}
#circle3, #text{
  animation: non 60s ;
  animation-delay: 6s;
}
#iconsave{
  position: absolute;
  left: 40vw;
  top: 60vh;
  animation: icon 8s;
}
#save p{
  color: #5b5959;
  font-size: 45px;
  text-align: center;
}
#save{
  animation: continue 8s;
}
@keyframes icon{
  0%{
      opacity: 0%;
  }
  78%{
      opacity: 0%;
  }
  80%{
      transform: scale(0);
      opacity: 100% ;
  }
  81%{
      transform: scale(1.5);
  }
  84%{
      transform: scale(0.5);
  }
  87%{
      transform: scale(1);
  }
}
@keyframes continue{
  0%{
      opacity: 0%;
  }
  78%{
      opacity: 0%;
  }
  80%{
     opacity: 100% ;
  }
}
@keyframes circle1{
 0%{
      opacity: 0% ;
  }
  9.999999%{
     opacity:  0%;
  }
  10%{
      opacity: 100%;
  }
}
@keyframes circle2{
  0%{
       opacity: 0% ;
   }
   24.999999%{
      opacity:  0%;
   }
   25%{
       opacity: 100%;
   }
}
@keyframes circle3{
  0%{
       opacity: 0% ;
   }
   49.999999%{
      opacity:  0%;
   }
   50%{
       opacity: 100%;
   }
}
@keyframes circle4{
  0%{
       opacity: 0% ;
   }
   74.999999%{
      opacity:  0%;
   }
   75%{
       opacity: 100%;
   }
}
@keyframes non{
   0%{
       opacity: 100%;
   }
   0.2%{
       opacity: 0%;
   }
   100%{
       opacity: 0%;
   }
}

/*צור קשר עיצוב*/
.pament1 {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  margin: 5%;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #393119;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: #393119;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}


@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
/****נגמר עמןד צור קשר מועתק ----w3scoll

*/
/*דף הבית תמונות*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}
.column img {
  margin-top: 08px;
  vertical-align: middle;
  width: 100%;
}

/*עיצובים אלו זה בשביל התמונות בכל עמוד*/
div.gallery {
  margin-top: 0vh;
  margin-bottom: 3vh;
  margin-left: 3vw;
  margin-right: 3vw;

 background-color: rgb(129, 95, 95);
}
.galleryall{
  margin-top: 0%;
  margin-bottom: 3vh;
  margin-left: 3vw;
  margin-right: 3vw;
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}



div.gallery img {
  width: 22vw;
  height:22vw;
   box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
   
}

div.desc {
  padding: 0%;
  text-align: center;
  color: rgb(226, 169, 169);
  font-size:20px;
  margin: 0%;
  font-family: freestyle script;
}
div.gallery p{
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: rgb(226, 169, 169);
  font-size:20px;
  font-family: freestyle script;
}
button{
margin-left: 40%;
  border: none;
}
header img{
  width: 100vw;
    position: fixed;
    z-index: 3;
}
footer img{
  width: 100vw;
  
}
.gallery  {
  position: relative;

}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gallery:hover .image{
  opacity: 0.3;
}

.gallery:hover .middle {
  opacity: 1;
}

.text {
  background-color: #422b21;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.submit{
  display: block;
  background-color: #392525;
}
@keyframes example {
  0%   {background-color:rgb(188, 168, 168); }
  25%  {background-color:rgb(168, 144, 131);  }
  50%  {background-color:rgb(129, 101, 89);  }
  75%  {background-color:rgb(87, 67, 53);}
  100% {background-color:rgb(63, 41, 41);}
}

/* The element to apply the animation to */
.desc{
  width: 100%;
  height: 100px;
  position: relative;
  background-color: rgb(199, 173, 173);
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.dro{
  display: none;
}

@media screen and (max-width: 1070px) {
  .galleryall 
  {
      margin: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  /* aside nav{
    display:none;
  } */
  .empty
  {
    height:  12vh!important;
  }
  aside{
    /* justify-content: start; */
    position: fixed;
    top:20vh;
    right: 0;

  }
button {
  background-color: aliceblue;
  color:rgb(226, 169, 169) ;
  position: relative;
  display: block;
  height: 10vh;
 
 
  

}
.dro {
  display: block;
  position: relative;
  display: inline-block;
  
}

.dro-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  
}

.dro:hover .dro-content {
  display: block;
}

aside nav {
  display: none;

}aside:hover nav {
  display: block;
  display: flex;
  flex-direction: column;

}
header{
  height: 10vh;
}
div.gallery img {
  width: 100%;
  height:80% ;
   box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
   
}
.chaild{

  display: grid;
  grid-template-rows:   20vh 300vh 10vh;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'header header'
                       'main aside' 
                        'footer footer';
}
footer{
  display: none;
}


}
@media screen and (max-width: 600px) {
.galleryall 
{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr ;
}
/* aside nav{
  display:none;
} */
button {
  background-color: aliceblue;
  color:rgb(226, 169, 169) ;
  position: relative;
  display: block;
  height: 10vh;
}
.empty
{
  height:  10vh;
}
/* button :hover aside nav {
  display: block;
} */
}


